html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: inherit;
}
#theNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(#ffffff, rgba(255, 255, 255, 0.8));
    padding: 10px 20px;
    z-index: 9;
    backdrop-filter: blur(8px);
}
.logo {
    max-height: 60px;
}
.nav_links {
    display: flex;
    align-items: center;
}
.nav_links > * {
    font-weight: 700;
    text-decoration: none;
    color: #0099ff;
    padding: 0px 5px;
    margin: 0px 7px;
}
.header {
    /* background-image: url('./../images/rice_farming.webp');
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    padding-top: 20vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#head_bags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
#head_bags img {
    max-height: 200px;
}
.w_w {
    padding: 80px 0px;
    background: linear-gradient(#fff, transparent, transparent, #fff);
}
#product_detail > * {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 1rem;
    color: #000000;
    backdrop-filter: blur(8px);
}
#product_detail > * .img {
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}
#product_detail > * .info {
    padding: 10px;
    flex: 1;
}

footer {
    background-color: #0099ff;
    color: #fff;
    padding: 10px;
}
.branch {
    /* display: flex; */
    padding: 2rem;
}
/* .branch>*{
    padding: 150px 20px 20px 20px;
    background:linear-gradient(transparent,rgba(0,0,0,0.7) 170px);
    color: #fff;
} */
.m-container {
    max-width: 500px;
    margin: auto;
}
.warr {
    height: 140px;
    margin-left: -140px;
}

.warr > * {
    height: inherit;
    position: absolute;
}
.warr #a {
    animation-name: a;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.warr #b {
    animation-name: b;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes a {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes b {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
